.container {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 2px 4px;
  margin: 0 auto;
}
.icon {
  padding: 4px 8px;
}
.input {
  width: 400px;
}
